<li class="contactsList__item">
  <div class="contactsList__item_info firstCol List_header">
    <p class="contactsList__item_text">ФИО</p>
  </div>
  <div class="contactsList__item_info secondCol List_header">
    <p class="contactsList__item_text">Телефон</p>
    <p class="contactsList__item_text thirdCol List_header">Email</p>
  </div>
  <div class="contactsList__item_info secondCol fourthCol List_header">
    <p class="contactsList__item_text">Skype</p>
    <p class="contactsList__item_text thirdCol fifthCol List_header">Комментарий</p>
  </div>
</li>
