<li class="contactsDetailsList__item" data-id="{{id}}">
  <h3 class="contactsDetailsList__item_text name">{{name}}</h3>
  <p class="contactsDetailsList__item_text email">{{email}}</p>
  <p class="contactsDetailsList__item_text phone">{{phone}}</p>
</li>
